@import './base.css';
@import '/iceberg.css';

#app {
    min-height: 100vh;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, var(--background-brightness)), rgba(0, 0, 0, var(--background-brightness))), url("/wallpaper_blurred.png") no-repeat center;
}

a, a:visited, a:hover {
    color: var(--color-link);
    text-decoration: none;
    transition: color .25s;
}

a:hover {
    color: var(--color-link-hover)
}

.icon {
    fill: var(--color-accent);
}